<!DOCTYPE html>
<html>
 <head>
 <title>OLAP using Flask in Python</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 </head>
 <body style="background-color:#FFFF99;">
    <nav class="navbar navbar-inverse">
	<img src="/static/images/christ.jpg"  height="50" width="92"/>	
    </nav>
		<br>
		<br>
		<br>
		<br>
		<center><h1><p style="font-family:verdana">Web Application Project Development and Deployment</p></h1></center>
		<center><p style="font-family:'Courier New'">First Semester Database Management Technologies Project. </p></center>
		<center><p style="font-family:'Courier New'">The project aims at creating a web application that makes use of Flask framework in Python and retrieves data from SQL Server.</p></center>
		<br>
		<br>
		<br>
		<center><p style="font-family:'Courier New'">Andrea Lebon</p></center>
		<center><p style="font-family:'Courier New'">Christ(Deemed to be University)</p></center>
		<br>
		<br>
		<br>
   <div class="container" id="main-container">
	<center>
      <div class="button-container">
        	<button type="button" class = "cncl-button" id="cancel"><a href = "{{url_for('infodisp')}}">View Data</a></button>
        	<button type="button" class = "accept-button" id="accept"><a href = "{{url_for('contact')}}">Insert</a></button>
      </div>
	</center>
    </div>
 </body
</html>